<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Regristration Page</title>
</head>
<body>
        <h1>User Regristration Page</h1>
        <form action="register"method="post">
            <LABEL>User Name</LABEL>
            <input type="text" name="userName" placeholder="only letters"><br>

            <label>Password</label>
            <input type="password" name="password"  placeholder="X1@12ff"><br>
            <input type="submit" value="Register">
            <input type="reset">



        </form>


</body>
</html>